table.numpad {
  background-color: black;
}
td.numpadDigit {
  width: 60px;
  height: 30px;
  border-width: 1px;
  border-style: solid;
  text-align: center;
  cursor:pointer;
}
td.numpadDigit:active {
  background-color: black;
  color: white;  
}
td#valueDisplay {
  width: 250px;
  font-size: 4em;
  text-align: center;
}

