<div id="topContainer">

<div id="appContainer" #appContainer >
<div id="topmenu">
<div id="ntBloc" class="plaque" [ngClass]="themeColor">
  <div class="buttonMinus" [ngClass]="themeColor" (click)="ntMoins()"></div>
  <div id="ntDisplay">
     <span class="digits">{{ partie.etat.nt }}</span>
  </div>
  <div class="buttonPlus" [ngClass]="themeColor" (click)="ntPlus()"></div>
</div>

<div id="tourBloc" class="plaque" [ngClass]="themeColor" (click)="passerTour()">
  <div class="turnIcon" [ngClass]="themeColor"></div><div class="tourDisplay">Tour: <span class="digits">{{ partie.tour }}</span></div>
</div>

</div>
<div class="tabressources">
<app-bloc-ressource [themeColor]="themeColor" [idRessource]="'mcred'" [ressource]="partie.etat.mcred" (notifyChange)="handleChange($event)" (notifyNT)="changerNT($event)"></app-bloc-ressource>
<app-bloc-ressource [themeColor]="themeColor" [idRessource]="'acier'" [ressource]="partie.etat.acier" (notifyChange)="handleChange($event)" (notifyNT)="changerNT($event)"></app-bloc-ressource>
<app-bloc-ressource [themeColor]="themeColor" [idRessource]="'titane'" [ressource]="partie.etat.titane" (notifyChange)="handleChange($event)" (notifyNT)="changerNT($event)"></app-bloc-ressource>
<app-bloc-ressource [themeColor]="themeColor" [idRessource]="'plante'" [ressource]="partie.etat.plante" (notifyChange)="handleChange($event)" (notifyNT)="changerNT($event)"></app-bloc-ressource>
<app-bloc-ressource [themeColor]="themeColor" [idRessource]="'energie'" [ressource]="partie.etat.energie" (notifyChange)="handleChange($event)" (notifyNT)="changerNT($event)"></app-bloc-ressource>
<app-bloc-ressource [themeColor]="themeColor" [idRessource]="'chaleur'" [ressource]="partie.etat.chaleur" (notifyChange)="handleChange($event)" (notifyNT)="changerNT($event)"></app-bloc-ressource>
</div>
<div id="bottomBar">
  <div class="btn blackbtn rounded bottomButtonWrapper"><div id="fullscreenButton" (click)="goFullScreen()" [ngClass]="themeColor"></div></div>
  <div class="btn blackbtn rounded bottomButtonWrapper"><div id="colorButton" (click)="openColorPicker()" [ngClass]="themeColor"></div></div>
  <div class="btn blackbtn rounded bottomButtonWrapper"><div id="resetButton" (click)="reset()" [ngClass]="themeColor"></div></div>
  <div class="btn blackbtn rounded bottomButtonWrapper"><div id="rewindButton" (click)="rewind()" [ngClass]="themeColor"></div></div>
  <div id="endGameButton" (click)="finPartie()" class="btn blackbtn rounded" [ngClass]="themeColor">Fin de la Partie</div>
</div>
</div>

<div id="cardsDialog" #cardsDialog title="Achat de Cartes">

  <p>Combien de cartes achetées pendant la phase de recherche ?</p>

  <table id="cardsTable" [ngClass]="themeColor">
    <tr><td class="deltaDigit" (click)="confirmCard(0)">0</td><td class="deltaDigit" (click)="confirmCard(1)">1</td><td class="deltaDigit" (click)="confirmCard(2)">2</td><td class="deltaDigit" (click)="confirmCard(3)">3</td><td class="deltaDigit" (click)="confirmCard(4)">4</td></tr>
   </table>
</div>
</div>

 <app-colorpicker (colorEmitter)="setColor($event)"></app-colorpicker>
 <app-endgame-dialog [themeColor]="themeColor" [etat]="partie.etat" [scores]="partie.scores" (restartEmitter)="reset()" (saveEmitter)="save()"></app-endgame-dialog> 


