td.deltaDigit {
  width: 100px;
  height: 30px;
  border: 1px solid black;
  text-align: center;
  cursor:pointer;
}
td.deltaDigit:active {
  background-color: black;
  color: white;  
}
div#resetButton, div#rewindButton {
  float: left;
}
div#endGameButton {
  float: right;
}
div#appContainer {
  width: 96%;
  margin-left: auto;
  margin-right: auto;
}
