td.deltaDigit {
  width: 100px;
  height: 30px;
  border-width: 1px;
  border-style: solid;
  text-align: center;
  cursor:pointer;
}
td.deltaDigit:active {
  background-color: black;
  color: white;  
}
div#resetButton, div#rewindButton, div#colorButton {
  background-repeat: no-repeat;
  background-position: center;
  background-blend-mode: multiply;
}
div#appContainer {
  display: inline-block;
}
div#topContainer {
  text-align: center;
}
div#bottomBar {
  clear: both;
}
div.bottomButtonWrapper {
  padding: 10px;
  display: inline-block;
  float: left;
  margin-left: 1%
}
div#colorButton {
  background-image: url('../assets/brush.png');
}
div#resetButton {
  background-image: url('../assets/reset.png');
}
div#rewindButton {
  background-image: url('../assets/rewind.png');
}
div#endGameButton {
    height: 40px;
    padding: 5px;
}
@media all and (orientation: portrait) and (max-device-width: 650px) {
    div.bottomButtonWrapper {
      float: unset;
    }
}
@media all and (max-device-width: 650px) {
    div#colorButton {
      background-image: url('../assets/brush_small.png');
    }
    div#resetButton {
      background-image: url('../assets/reset_small.png');
    }
    div#rewindButton {
      background-image: url('../assets/rewind_small.png');
    }
}
