td.deltaDigit {
  width: 100px;
  height: 30px;
  border-width: 1px;
  border-style: solid;
  text-align: center;
  cursor:pointer;
}
td.deltaDigit:active {
  background-color: black;
  color: white;  
}
div#resetButton, div#rewindButton, div#colorButton {
  float: left;
}
div#colorButton {
  padding: 10px 15px;
}
div#endGameButton {
  float: right;
}
div#appContainer {
  width: 96%;
  margin-left: auto;
  margin-right: auto;
}

