<div id="appContainer">
<div id="topmenu">
<div id="ntBloc" class="plaque">
  <div class="buttonMinus" (click)="ntMoins()"></div>
  <div id="ntDisplay">
     <span class="digits">{{ partie.etat.nt }}</span>
  </div>
  <div class="buttonPlus" (click)="ntPlus()"></div>
</div>

<div id="tourBloc" class="plaque" (click)="passerTour()">
  <div class="productionDisplayIcon"></div>
  <div class="tourDisplay">Tour: <span class="digits">{{ partie.tour }}</span></div>
</div>

</div>
<div class="tabressources">
<app-bloc-ressource [idRessource]="'mcred'" [ressource]="partie.etat.mcred" (notifyChange)="handleChange($event)" (notifyNT)="changerNT($event)"></app-bloc-ressource>
<app-bloc-ressource [idRessource]="'acier'" [ressource]="partie.etat.acier" (notifyChange)="handleChange($event)" (notifyNT)="changerNT($event)"></app-bloc-ressource>
<app-bloc-ressource [idRessource]="'titane'" [ressource]="partie.etat.titane" (notifyChange)="handleChange($event)" (notifyNT)="changerNT($event)"></app-bloc-ressource>
<app-bloc-ressource [idRessource]="'plante'" [ressource]="partie.etat.plante" (notifyChange)="handleChange($event)" (notifyNT)="changerNT($event)"></app-bloc-ressource>
<app-bloc-ressource [idRessource]="'energie'" [ressource]="partie.etat.energie" (notifyChange)="handleChange($event)" (notifyNT)="changerNT($event)"></app-bloc-ressource>
<app-bloc-ressource [idRessource]="'chaleur'" [ressource]="partie.etat.chaleur" (notifyChange)="handleChange($event)" (notifyNT)="changerNT($event)"></app-bloc-ressource>
</div>
<div>
  <div id="resetButton" (click)="reset()" class="btn rounded themeOrange">Réinitialiser</div>
  <div id="rewindButton" (click)="rewind()" class="btn rounded themeOrange">Revenir en arrère</div>
  <div id="endGameButton" (click)="finPartie()" class="btn rounded themeOrange">Fin de la Partie</div>
</div>
</div>

<div #cardsDialog title="Achat de Cartes">

  <p>Combien de cartes achetées pendant la phase de recherche ?</p>

  <table>
    <tr><td class="deltaDigit" (click)="confirmCard(0)">0</td><td class="deltaDigit" (click)="confirmCard(1)">1</td><td class="deltaDigit" (click)="confirmCard(2)">2</td><td class="deltaDigit" (click)="confirmCard(3)">3</td><td class="deltaDigit" (click)="confirmCard(4)">4</td></tr>
   </table>
</div>

 <app-endgame-dialog [etat]="partie.etat" [scores]="partie.scores" (restartEmitter)="reset($event)"></app-endgame-dialog> 


