div.sousBlocRessource {
  min-width: 260px;
  background-repeat: no-repeat;
  background-position: center;
  border: 2px solid #CCCCCC;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  background-blend-mode: multiply;
  background-color: rgba(200,100,0,.5);
}
div.sousBlocProduction {
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  border: 2px solid #CCCCCC;
}
div.qteRessource {
  min-height: 210px;
  width: 100%;
  background-repeat: no-repeat;
  background-position: left center;
  text-align: right;
  font-size: 200px;
  border: none;
  color: white;
  position: relative;
}
td.deltaDigit {
  width: 50px;
  height: 30px;
  border: 1px solid black;
  text-align: center;
  cursor:pointer;
}
td.deltaDigit:active {
  background-color: black;
  color: white;  
}
td#deltaDisplay {
  text-align: right;
  font-size: 90px;
  width: 120px;
  cursor:pointer;
}
div.productionRessource  div{
    display: inline-block;
    vertical-align: middle;
}
div.productionRessource {
  margin-left: auto ;
  margin-right: auto ;
  height: 60px;
  width: 250px;
  padding-top: 5px;
}
div.productionDisplay {
    width: 150px;
    background-color: black;
    color: rgb(200,100,0);
    text-align: center;
}
div.sousBlocProduction div.productionDisplayValue {
    vertical-align: top;
    font-size: 3em;
}
div.qteDelta {
    position: absolute;
    width: 100%;
    display: none;
}
