div.sousBlocRessource {
  min-width: 260px;
  background-repeat: no-repeat;
  background-position: center;
  border-width: 2px;
  border-style: solid solid none solid;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  background-blend-mode: multiply;
  border-color: #CCCCCC;
  padding-left: 10px;
}
div.sousBlocProduction {
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  border-width: 2px;
  border-style: solid;
  background-color: black;
  border-color: #CCCCCC;
}
div.qteRessource {
  width: 100%;
  background-repeat: no-repeat;
  background-position: left center;
  text-align: right;
  border: none;
  color: white;
  position: relative;
}
td.deltaDigit {
  width: 50px;
  height: 30px;
  border: 1px solid black;
  text-align: center;
  cursor:pointer;
}
td.deltaDigit:active {
  background-color: black;
  color: white;  
}
td#deltaDisplay {
  text-align: right;
  font-size: 90px;
  width: 120px;
  cursor:pointer;
}
div.productionRessource  div{
    display: inline-block;
    vertical-align: middle;
}
div.productionRessource {
  margin-left: auto ;
  margin-right: auto ;
  padding-top: 5px;
}
div.productionDisplay {
    text-align: center;
    margin-left: 10px;
    margin-right: 10px;
}
div.productionDisplayValue {
    background-color: black;
    color: white;
}
div.sousBlocProduction div.productionDisplayValue {
    vertical-align: middle;
    font-size: 2em;
}
div.qteDelta {
    position: absolute;
    width: 100%;
    display: none;
}
@media all and (max-device-width: 650px) {
    div.sousBlocRessource {
        min-width: unset;
    }
    div.productionRessource {
      padding-top: 0px;
    }
}
@media all and (max-device-width: 1300px) {
}

