<div *ngIf="ressource" class="blocRessource">
  <div class="sousBlocRessource {{ idRessource }}">
    
    <div class="qteRessource {{ idRessource }}" (click)="openDialogQte()">
        <div class="qteDelta {{ idRessource }}"><span #posDelta class="digits greenText"></span><span #negDelta class="digits redText"></span></div>            
        <div><span class="digits">{{ ressource.qte }}</span></div>            
    </div>
    <div class="productionRessource plaque">
          <div class="prodButton minusButton roundButton" (click)="diminuerProduction()"> </div><div class="productionValue"><span class="digits">{{ ressource.production }}</span></div><div class="prodButton plusButton roundButton" (click)="augmenterProduction()"> </div>
        </div>
  </div>
</div>

<app-numpad [title]="'Augmenter / Diminuer la réserve'" [defMultiplier]="-1" [maxDigits]="2" [showPlus]="true" (validateEmitter)="applyDeltaQte($event)"></app-numpad>
