<div id="endGameContainer" [ngClass]="themeColor">

  <div id="endGameRessources">
    <table>
      <thead><tr><td colspan="3">Ressources</td></tr></thead>
      <tbody>
        <tr><td class="endGameRessourceLabel mcred">MégaCrédits</td><td class="endGameRessourceValue">{{ etat.mcred.qte }}</td><td class="endGameRessourceProduction"><span>{{ etat.mcred.production }}</span></td></tr>
        <tr><td class="endGameRessourceLabel acier">Acier</td><td class="endGameRessourceValue">{{ etat.acier.qte }}</td><td class="endGameRessourceProduction">{{ etat.acier.production }}</td></tr>
        <tr><td class="endGameRessourceLabel titane">Titane</td><td class="endGameRessourceValue">{{ etat.titane.qte }}</td><td class="endGameRessourceProduction">{{ etat.titane.production }}</td></tr>
        <tr><td class="endGameRessourceLabel plante">Végétaux</td><td class="endGameRessourceValue">{{ etat.plante.qte }}</td><td class="endGameRessourceProduction">{{ etat.plante.production }}</td></tr>
        <tr><td class="endGameRessourceLabel energie">Énergie</td><td class="endGameRessourceValue">{{ etat.energie.qte }}</td><td class="endGameRessourceProduction">{{ etat.energie.production }}</td></tr>
        <tr><td class="endGameRessourceLabel chaleur">Chaleur</td><td class="endGameRessourceValue">{{ etat.chaleur.qte }}</td><td class="endGameRessourceProduction">{{ etat.chaleur.production }}</td></tr>
      </tbody>
    </table>
  </div>

  <div id="endGamePoints">
    <table>
      <thead><tr><td colspan="3">Score</td></tr></thead>
      <tbody>
        <tr><td class="scoreLabel">NT</td><td class="endGameScore">{{ etat.nt }}</td></tr>
        <tr (click)="setScore('objectifs')"><td class="scoreLabel">Objectifs</td><td class="endGameScore">{{ scores.objectifs }}</td></tr>
        <tr (click)="setScore('recompenses')"><td class="scoreLabel">Récompenses</td><td class="endGameScore">{{ scores.recompenses }}</td></tr>
        <tr (click)="setScore('forets')"><td class="scoreLabel">Forêts</td><td class="endGameScore">{{ scores.forets }}</td></tr>
        <tr (click)="setScore('cites')"><td class="scoreLabel">Cités</td><td class="endGameScore">{{ scores.cites }}</td></tr>
        <tr (click)="setScore('cartes')"><td class="scoreLabel">Cartes</td><td class="endGameScore">{{ scores.cartes }}</td></tr>
        
      </tbody>
    </table>
  </div>

  <div id="endGameTotal">
     <div id="endGameTotalLabel">TOTAL:</div>
     <div id="endGameTotalValue">{{ total }}</div>
  </div>
    


<app-numpad [title]="'Score'" [defMultiplier]="1" [maxDigits]="2" (validateEmitter)="applyScore($event)"></app-numpad>

    <div id="restartButton" class="btn rounded" (click)="recommencer()">Recommencer</div>

</div>
