<div class="tabressources">
<app-bloc-ressource [idRessource]="'mcred'" [ressource]="etat.mcred" (notifyChange)="notifyChange.emit($event)"></app-bloc-ressource>
<app-bloc-ressource [idRessource]="'acier'" [ressource]="etat.acier" (notifyChange)="notifyChange.emit($event)"></app-bloc-ressource>
<app-bloc-ressource [idRessource]="'titane'" [ressource]="etat.titane" (notifyChange)="notifyChange.emit($event)"></app-bloc-ressource>
<app-bloc-ressource [idRessource]="'plante'" [ressource]="etat.plante" (notifyChange)="notifyChange.emit($event)"></app-bloc-ressource>
<app-bloc-ressource [idRessource]="'energie'" [ressource]="etat.energie" (notifyChange)="notifyChange.emit($event)"></app-bloc-ressource>
<app-bloc-ressource [idRessource]="'chaleur'" [ressource]="etat.chaleur" (notifyChange)="notifyChange.emit($event)"></app-bloc-ressource>
</div>
