div.colorCell {
  width: 30px;
  height: 30px;
  border: 1px solid #CCCCCC;
  display: inline-block;
  float: left;
  margin: 2px;
  text-align: center;
}
img.brushMark {
  margin-top: 4px;
}
div#colorsButtons {
  clear: both;
  text-align: center;
  padding-top: 20px;
  font-size: 0.5em;
}
div#closeColorPickerButton {
  display: inline-block;
  background-color: black;
}
