@font-face {
    font-family: 'alarm_clockregular';
    src: url('assets/alarm_clock-webfont.woff2') format('woff2'),
         url('assets/alarm_clock-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
body {
  margin: 2em;  
    font-family: 'arial';
    background-color: black;
  color: white;
}
span.digits {
  font-family: 'alarm_clockregular';
}
.greenText {
  color: green;
}
.redText {
  color: red;
}
div#topmenu div{
    display: inline-block;
}
div#ntBloc div{
    display: inline-block;    
}
div.buttonMinus, div.buttonPlus {
    height: 50px;
    width: 50px;
    background-repeat: no-repeat;
    background-position: center;
    background-blend-mode: multiply;
    cursor:pointer;
}
div.buttonMinus {  
  background-image: url('assets/minus.gif');
}
div.buttonPlus {
  background-image: url('assets/plus.gif');
}
div#nextTurnButton{
  background-image: url('assets/turn.gif');
}

div.btn{
  border-width: 2px;
  border-style: solid;
  display:block;
  padding:12px 15px;
  margin-right:10px;
  cursor:pointer;
  font-size: 3em;
}
div.blackbtn {
  background-color: black;
}
div:hover.active{text-decoration:none; background:#FFF;}
 
.rounded, div.btn{
-webkit-border-radius:6px;
-moz-border-radius:6px;
border-radius:6px;
-khtml-border-radius: 6px;
}
.ui-dialog-buttonset {
  background-color: black !important;
}
div.tabressources {
  width: 100%;
  padding: 0px;
  clear: both;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  margin-bottom: 20px;
}
div.blocRessource {
  float: left;
  width: 31%;
  margin-right: 1%;
  margin-top: 1%;
  margin-bottom: 1%;
 }
@media all and (orientation:landscape)
{
    div.blocRessource {
      width: 32%;
    }
}
@media all and (orientation:portrait)
{
    div.blocRessource {
      width: 46%;
    }
}
.genDialog {
  background-color: black !important;    
}
div#cardsDialog, table#cardsTable {
  background-color: black !important;    
}
.genDialog .ui-dialog-buttonpane {
  background-color: black;
}
.genDialog .ui-dialog-buttonpane button {
  background-color: black;
}
div.plaque {
  display: inline-block;
  border-width: 2px;
  border-style: solid;
  background-color: black;
  text-align: right;
  font-size: 3em;
  border-radius: 15px;
  padding: 10px;
}
div.plaque div{
  display: inline-block;
}
div#ntBloc {
  float: left;
  border-color: #CCCCCC;
}
div#tourBloc, div#endGameButton {
  float: right;
  margin-right: 2%;
  border-color: #CCCCCC;
}
div#ntDisplay {
    background-repeat: no-repeat;
    background-position: l10px center;
  background-image: url('assets/nt_logo_small.gif');
    width: 150px;
    text-align: right;
}
div#ntBloc div, div#tourBloc div {
   vertical-align:middle;
}
.noTitle .ui-dialog-titlebar {
    display: none;
}
div.sousBlocRessource.mcred {
  background-image: url('assets/bg-mcred.jpg');
}
div.qteRessource.mcred {
  background-image: url('assets/res-mcred.png');
}
div.sousBlocRessource.acier {
  background-image: url('assets/bg-acier.jpg');
}
div.qteRessource.acier {
  background-image: url('assets/res-acier.png');
}
div.sousBlocRessource.titane {
  background-image: url('assets/bg-titane.jpg');
}
div.qteRessource.titane {
  background-image: url('assets/res-titane.png');
}
div.sousBlocRessource.plante {
  background-image: url('assets/bg-plante.jpg');
}
div.qteRessource.plante {
  background-image: url('assets/res-plante.png');
}
div.sousBlocRessource.energie {
  background-image: url('assets/bg-energie.jpg');
}
div.qteRessource.energie {
  background-image: url('assets/res-energie.png');
}
div.sousBlocRessource.chaleur {
  background-image: url('assets/bg-chaleur.jpg');
}
div.qteRessource.chaleur {
  background-image: url('assets/res-chaleur.png');
}
div.productionDisplayIcon {
    width: 50px;
    height: 50px;
    background-repeat: no-repeat;
    background-position: center;
    background-blend-mode: multiply;
    background-image: url('assets/turn.gif');
    margin-right: 10px;
}


